@using Tweakers.Models
@model Tweakers.Models.Product

@{
    ViewBag.Title = "Product";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Product</h2>

<div>
    <h4>Product</h4>
    <hr/>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Specifications)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Specifications)
        </dd>

    </dl>
</div>
<div>
    @if (Model.Reviews != null)
    {
        foreach (Review r in Model.Reviews)
        {
            @Html.ActionLink(r.Title, "Index", "Review", new {id = r.Title}, new {@class = "list-group-item"})
        }
    }
</div>
@if (Session["User"] != null)
{
    <p>
        @Html.ActionLink("Nieuwe Review", "NewReview", "Review")
    </p>
}
@if (Session["User"] != null && ((Account)Session["User"]).Type == "Medewerker")
{
    <p>
        @Html.ActionLink("Edit", "UpdateProduct", new { id = Model.ProductID })
    </p>
}

   
