@using Tweakers.Models
@model Tweakers.Models.Article

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Title</h2>

<div>
    <hr/>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PublicationDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PublicationDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Author.UserName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Author.UserName)
        </dd>
    </dl>
    <p>
        @Html.DisplayFor(model => model.Context)
    </p>
</div>
<div>
    @foreach (Reaction r in Model.Reactions)
    {
        <dl>
            <dt>
                @r.Account.UserName
            </dt>
            <dt>
                @r.PostTime
            </dt>
            <dt>
                <dd>
                    @Html.Raw(r.Context)
                </dd>
            </dt>
        </dl>
        <div>
            @if (Session["User"] != null)
            {
                using (Html.BeginForm("PlaceSubReaction", "Article", new { id = r.Id }, FormMethod.Post, Model))
                {
                    <textarea name="reactionSubForm" id="reactionFormContent"></textarea>
                    <div class="submit">
                        <input type="submit" value="Place Reaction" class="button" />
                    </div>
                }

            }
        </div>

        if (r.SubReactions != null)
        {
            foreach (Reaction sr in r.SubReactions)
            {
                <div style="padding-left:5em">
                    <dl>
                        <dt>
                            @sr.Account.UserName
                        </dt>
                        <dt>
                            @sr.PostTime
                        </dt>
                        <dt>
                        <dd>
                            @Html.Raw(sr.Context)
                        </dd>
                        </dt>
                    </dl>
                </div>

            }
        }

    }
</div>
<div>
    @if (Session["User"] != null)
    {
        using (Html.BeginForm("PlaceReaction", "Article", FormMethod.Post, Model))
        {
            <textarea name="reactionForm" id="reactionFormContent"></textarea>
                    <div class="submit">
                        <input type="submit" value="Place Reaction" class="button" />
                    </div>
        }

    }
</div>
<p>
    @if (Session["User"] != null && Model.Author.UserName == ((Account)Session["User"]).UserName)
    {
        @Html.ActionLink("Edit", "Edit", new { id = Model.ID })
    }
</p>
